# Sample Code

## 基礎建設

In [1]:
import pandas as pd
import gzip, json
import numpy as np
def parse(path):
    g = gzip.open(path, 'rb')
    for l in g:
        yield json.loads(l)

def getDF(path):
    i = 0
    df = {}
    for d in parse(path):
        df[i] = d
        i += 1
    return pd.DataFrame.from_dict(df, orient='index')

## 載入資料

In [2]:
!wget http://deepyeti.ucsd.edu/jianmo/amazon/categoryFilesSmall/All_Beauty.csv
!wget http://deepyeti.ucsd.edu/jianmo/amazon/metaFiles2/meta_All_Beauty.json.gz

--2021-12-26 13:44:56--  http://deepyeti.ucsd.edu/jianmo/amazon/categoryFilesSmall/All_Beauty.csv
Resolving deepyeti.ucsd.edu (deepyeti.ucsd.edu)... 169.228.63.50
Connecting to deepyeti.ucsd.edu (deepyeti.ucsd.edu)|169.228.63.50|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 15499476 (15M) [application/octet-stream]
Saving to: ‘All_Beauty.csv.8’

All_Beauty.csv.8    100%[===================>]  14.78M  18.8MB/s    in 0.8s

2021-12-26 13:44:57 (18.8 MB/s) - ‘All_Beauty.csv.8’ saved [15499476/15499476]

--2021-12-26 13:44:57--  http://deepyeti.ucsd.edu/jianmo/amazon/metaFiles2/meta_All_Beauty.json.gz
Resolving deepyeti.ucsd.edu (deepyeti.ucsd.edu)... 169.228.63.50
Connecting to deepyeti.ucsd.edu (deepyeti.ucsd.edu)|169.228.63.50|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 10329961 (9.9M) [application/octet-stream]
Saving to: ‘meta_All_Beauty.json.gz.8’

meta_All_Beauty.jso 100%[===================>]   9.85M  14.3MB/s    in 0.7s

2021-12-26 13:44:58 (14.3 MB/s) - ‘meta_All_Beauty.json.gz.8’ saved [10329961/10329961]

In [3]:
metadata = getDF('/content/meta_All_Beauty.json.gz')
ratings = pd.read_csv('/content/All_Beauty.csv', names=['asin', 'reviewerID', 'overall', 'unixReviewTime'], header=None)

In [4]:
metadata.head()

  category  ...                                    imageURLHighRes
0       []  ...                                                 []
1       []  ...                                                 []
2       []  ...                                                 []
3       []  ...  [https://images-na.ssl-images-amazon.com/image...
4       []  ...  [https://images-na.ssl-images-amazon.com/image...

[5 rows x 19 columns]

In [5]:
ratings.head()

         asin      reviewerID  overall  unixReviewTime
0  0143026860  A1V6B6TNIC10QE      1.0      1424304000
1  0143026860  A2F5GHSXFQ0W6J      4.0      1418860800
2  0143026860  A1572GUYS7DGSR      4.0      1407628800
3  0143026860   A1PSGLFK1NSVO      5.0      1362960000
4  0143026860   A6IKXKZMTKGSC      5.0      1324771200

<bound method Series.max of 0         1.0
1         4.0
2         4.0
3         5.0
4         5.0
         ...
371340    1.0
371341    5.0
371342    5.0
371343    2.0
371344    2.0
Name: overall, Length: 371345, dtype: float64>

## 資料整理

In [6]:
ratings['DATE'] = pd.to_datetime(ratings['unixReviewTime'], unit='s')

## 資料切分

In [7]:
ratings_trainings = ratings[
    (ratings['DATE'] < '2018-09-01')
]
ratings_testings = ratings[
    (ratings['DATE'] >= '2018-09-01') & 
    (ratings['DATE'] <= '2018-09-30')
]
ratings_testings_by_user = ratings_testings.groupby('reviewerID').agg(list).reset_index()[['reviewerID', 'asin']].to_dict('records')
ratings_testings_by_user = { rating['reviewerID']: rating['asin'] for rating in ratings_testings_by_user }
users = list(ratings_testings_by_user.keys())

## 產生推薦

In [11]:
def recommender(training_data, users=[], k=10):
    '''
    * training_data: dataframe 輸入的訓練資料集（2018-09-01 以前資料）
    * users: [] 需要被推薦的使用者
    * k: int 每個使用者需要推薦的商品數
    * recommendations: dict
      {
          使用者一： [推薦商品一, 推薦商品二, ...],
          使用者二： [...], ...
      }
    '''
    '''
    Your Code
    '''
    global ratings_trainings
   
    #1.熱門程度前k項商品推薦
    recommendations = {}
    traingdata_groupby_k = ratings_trainings.groupby('asin').size().sort_values(ascending=False).index.tolist()[:k]
    
    print(type(traingdata_groupby_k))

     
    recommendations = {user:traingdata_groupby_k for user in users}

    
    return recommendations


ratings_by_user = recommender(ratings_trainings, users)
#ratings_by_user

<class 'list'>

In [26]:
def recommender2(training_data, users=[], k=10):
    '''
    * training_data: dataframe 輸入的訓練資料集（2018-09-01 以前資料）
    * users: [] 需要被推薦的使用者
    * k: int 每個使用者需要推薦的商品數
    * recommendations: dict
      {
          使用者一： [推薦商品一, 推薦商品二, ...],
          使用者二： [...], ...
      }
    '''
    recommendations = {}
    '''
    Your Code
    '''
    global ratings_trainings
   
    #2.最近1個月overall評分=5的前10項推薦
    training_data = training_data[(training_data['DATE'] >= '2018-08-01') \
                                  & (training_data['DATE'] < '2018-09-01')]
    one_month_rec = training_data.groupby('asin').agg({'asin':'size','overall':'max'}) \
             .rename(columns={'asin':'count_bysold','overall':'5star_score'}) \
             .reset_index().sort_values('count_bysold',ascending=False).asin.tolist()
    
    recommendations = {user:one_month_rec for user in users}
    return recommendations


ratings_by_user = recommender2(ratings_trainings, users)
#ratings_by_user

## 結果評估

In [15]:
def evaluate(ratings_testings_by_user={}, ratings_by_user={}, method=None):
    '''
    * ratings_testings_by_user: dict 真實被購買的商品資料（2018-09-01 以後資料）
    * ratings_by_user: dict 利用訓練資料學習的推薦商品
    * method: str
    * score: float
    '''
    total = 0
    for d in ratings_testings_by_user:
        if d in ratings_by_user:
            total += len(set(ratings_by_user[d]) & set(ratings_testings_by_user[d]))

    score = total / len(ratings_testings)
    return score

#evaluate(ratings_testings_by_user, ratings_by_user)

In [14]:
recommender_result = {}
n = 1
for recommender in [recommender, recommender2]:
    ratings_by_user = recommender(ratings_trainings, users)
    recommender_result[f'Method {n}'] = evaluate(ratings_testings_by_user, ratings_by_user)
    n += 1
result = pd.DataFrame(recommender_result.items(), columns=['Recommender', 'Recall'])
result

<class 'list'>

  Recommender    Recall
0    Method 1  0.083051
1    Method 2  0.664407